In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd 
from math import sqrt
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import preprocessing
import numpy as np

# Chargement des données

In [2]:
data = pd.read_csv('Data/ozone.csv', sep=',')

In [3]:
y = data["MaxO3"]

In [4]:
y

0       87
1       82
2       92
3      114
4       94
      ...
107     84
108     77
109     99
110     83
111     70
Name: MaxO3, Length: 112, dtype: int64

In [5]:
data

,Date,MaxO3,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,MaxO3v,Vent,Pluie
0,20010601,87,15.6,18.5,18.4,4,4,8,0.6946,-1.7101,-0.6946,84,Nord,Sec
1,20010602,82,17.0,18.4,17.7,5,5,7,-4.3301,-4.0000,-3.0000,87,Nord,Sec
2,20010603,92,15.3,17.6,19.5,2,5,4,2.9544,1.8794,0.5209,82,Est,Sec
3,20010604,114,16.2,19.7,22.5,1,1,0,0.9848,0.3473,-0.1736,92,Nord,Sec
4,20010605,94,17.4,20.5,20.4,8,8,7,-0.5000,-2.9544,-4.3301,114,Ouest,Sec
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,20010925,84,13.3,17.7,17.8,3,5,6,0.0000,-1.0000,-1.2856,76,Sud,Sec
108,20010927,77,16.2,20.8,22.1,6,5,5,-0.6946,-2.0000,-1.3681,71,Sud,Pluie
109,20010928,99,16.9,23.0,22.6,6,4,7,1.5000,0.8682,0.8682,77,Sud,Sec
110,20010929,83,16.9,19.8,22.1,6,5,3,-4.0000,-3.7588,-4.0000,99,Ouest,Pluie
111,20010930,70,15.7,18.6,20.7,7,7,7,0.0000,-1.0419,-4.0000,83,Sud,Sec

In [6]:
data= data[
           ['T9', 'T12', 'T15', 'Ne9', 'Ne12', 'Ne15', 'Vx9',
            'Vx12', 'Vx15', 'MaxO3v']
]

In [7]:
data

       T9   T12   T15  Ne9  Ne12  Ne15     Vx9    Vx12    Vx15  MaxO3v
0    15.6  18.5  18.4    4     4     8  0.6946 -1.7101 -0.6946      84
1    17.0  18.4  17.7    5     5     7 -4.3301 -4.0000 -3.0000      87
2    15.3  17.6  19.5    2     5     4  2.9544  1.8794  0.5209      82
3    16.2  19.7  22.5    1     1     0  0.9848  0.3473 -0.1736      92
4    17.4  20.5  20.4    8     8     7 -0.5000 -2.9544 -4.3301     114
..    ...   ...   ...  ...   ...   ...     ...     ...     ...     ...
107  13.3  17.7  17.8    3     5     6  0.0000 -1.0000 -1.2856      76
108  16.2  20.8  22.1    6     5     5 -0.6946 -2.0000 -1.3681      71
109  16.9  23.0  22.6    6     4     7  1.5000  0.8682  0.8682      77
110  16.9  19.8  22.1    6     5     3 -4.0000 -3.7588 -4.0000      99
111  15.7  18.6  20.7    7     7     7  0.0000 -1.0419 -4.0000      83

[112 rows x 10 columns]

In [8]:
data.describe()

,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,MaxO3v
count,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000
mean,18.360714,21.526786,22.627679,4.928571,5.017857,4.830357,-1.214346,-1.611004,-1.690683,90.571429
std,3.122726,4.042321,4.530859,2.594916,2.281860,2.332259,2.632742,2.795673,2.810198,28.276853
min,11.300000,14.000000,14.900000,0.000000,0.000000,0.000000,-7.878500,-7.878500,-9.000000,42.000000
25%,16.200000,18.600000,19.275000,3.000000,4.000000,3.000000,-3.276450,-3.564700,-3.939200,71.000000
50%,17.800000,20.550000,22.050000,6.000000,5.000000,5.000000,-0.866000,-1.879400,-1.549650,82.500000
75%,19.925000,23.550000,25.400000,7.000000,7.000000,7.000000,0.694600,0.000000,0.000000,106.000000
max,27.000000,33.500000,35.500000,8.000000,8.000000,8.000000,5.196200,6.577800,5.000000,166.000000

# Préparation des données

In [12]:
def normalization(dataToNormalize):
    columns = dataToNormalize.columns
    for col in columns:
        x = dataToNormalize[[col]].values.astype(float)
        standard_normalization = preprocessing.StandardScaler()
        res = standard_normalization.fit_transform(x)
        dataToNormalize[col]=res
        
normalization(data)

In [10]:
data

,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,MaxO3v
0,-0.888045,-0.752140,-0.937279,-0.359451,-0.448069,1.365152,0.728338,-0.035606,0.356046,-0.233441
1,-0.437704,-0.776989,-1.092469,0.027650,-0.007861,0.934456,-1.188782,-0.858374,-0.468010,-0.126870
2,-0.984547,-0.975785,-0.693408,-1.133653,-0.007861,-0.357631,1.590540,1.254113,0.790522,-0.304488
3,-0.695042,-0.453946,-0.028306,-1.520753,-1.768695,-2.080415,0.839060,0.703625,0.542276,0.050748
4,-0.309035,-0.255151,-0.493878,1.188953,1.312765,0.934456,0.272551,-0.482687,-0.943449,0.832266
...,...,...,...,...,...,...,...,...,...,...
107,-1.627892,-0.950935,-1.070299,-0.746552,-0.007861,0.503760,0.463320,0.219536,0.144795,-0.517629
108,-0.695042,-0.180602,-0.116987,0.414751,-0.007861,0.073064,0.198303,-0.139768,0.115306,-0.695247
109,-0.469871,0.366086,-0.006136,0.414751,-0.448069,0.934456,1.035629,0.890786,0.914663,-0.482105
110,-0.469871,-0.429097,-0.116987,0.414751,-0.007861,-0.788327,-1.062836,-0.771710,-0.825457,0.299413
111,-0.855878,-0.727290,-0.427368,0.801852,0.872556,0.934456,0.463320,0.204481,-0.825457,-0.268964

In [11]:
data.describe()

,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,MaxO3v
count,1.120000e+02,1.120000e+02,1.120000e+02,1.120000e+02,1.120000e+02,1.120000e+02,1.120000e+02,1.120000e+02,1.120000e+02,1.120000e+02
mean,-6.215266e-16,-2.111406e-16,3.568574e-17,-1.040834e-16,-1.179612e-16,-1.675247e-16,3.419883e-17,1.239088e-17,-8.524927e-17,6.046750e-17
std,1.004494e+00,1.004494e+00,1.004494e+00,1.004494e+00,1.004494e+00,1.004494e+00,1.004494e+00,1.004494e+00,1.004494e+00,1.004494e+00
min,-2.271236e+00,-1.870365e+00,-1.713231e+00,-1.907854e+00,-2.208904e+00,-2.080415e+00,-2.542636e+00,-2.251932e+00,-2.612687e+00,-1.725430e+00
25%,-6.950420e-01,-7.272901e-01,-7.432910e-01,-7.465517e-01,-4.480695e-01,-7.883274e-01,-7.867737e-01,-7.019695e-01,-8.037238e-01,-6.952468e-01
50%,-1.803663e-01,-2.427259e-01,-1.280717e-01,4.147509e-01,-7.860868e-03,7.306449e-02,1.329075e-01,-9.643571e-02,5.041172e-02,-2.867259e-01
75%,5.031874e-01,5.027576e-01,6.146254e-01,8.018518e-01,8.725563e-01,9.344564e-01,7.283376e-01,5.788388e-01,6.043282e-01,5.480777e-01
max,2.779019e+00,2.975278e+00,2.853802e+00,1.188953e+00,1.312765e+00,1.365152e+00,2.445874e+00,2.942264e+00,2.391559e+00,2.679491e+00